{% extends 'base.html.twig' %}

{% block title %}Just Focus{% endblock %}

{% block body %}
{% apply spaceless %}
<div>
    <div class="container">
        <div class="news-area">
            <div class="title">Breaking News :</div>
            <div class="news-wrap">
                <div class="row slick-marquee" itemscope itemtype="http://schema.org/ItemList">
                    {% cache 'breaking_news' %}
                    {% for item in breaking %}
                        {{ include('_partials/_mignature/_breaking_news_item.html.twig', { 'item': item }) }}
                    {% endfor %}
                    {% endcache %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="row gy-4">
                    {% cache 'slider_first_two' %}
                    {% for item in slider|slice(0, 2) %}
                        <div class="col-xl-12 col-sm-6 border-blog">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 50, 'maxHeight': 187 }) }}
                        </div>
                    {% endfor %}
                    {% endcache %}
                </div>
            </div>
            <div class="col-xl-6 mt-4 mt-xl-0">
                {% set main_slider_item = slider[2] %}
                <div class="blog-style1 style-big">
                    <div class="blog-img">
                        <img src="{{ main_slider_item.media|first.guid }}" alt="{{ main_slider_item.media|first.title }}" style="max-height:490px">
                        <a data-theme-color="#FF9500" href="#" class="category">{{ main_slider_item.categories[0].name }}</a>
                    </div>
                    <h3 class="box-title-30">
                        <a class="hover-line" href="{{ path('app_articles', {
                            'slug': main_slider_item.slug,
                            'souscategorie': main_slider_item.categories[0].slug,
                            'categorie': main_slider_item.categories[0].parent ? main_slider_item.categories[0].parent.slug : 'no-category'
                        }) }}">{{ main_slider_item.title|u.truncate(75) }}</a>
                    </h3>
                    <div class="blog-meta">
                        <a href="author.html">
                            <i class="far fa-user"></i>{{ main_slider_item.user.pseudo }}</a>
                        <a href="blog.html">
                            <i class="fal fa-calendar-days"></i>{{ main_slider_item.date|date('d M Y') }}</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mt-35 mt-xl-0">
                <div class="nav tab-menu indicator-active" role="tablist">
                    <button class="tab-btn active" id="nav-one-tab" data-bs-toggle="tab" data-bs-target="#nav-one" type="button" role="tab" aria-controls="nav-one" aria-selected="true">Top News</button>
                    <button class="tab-btn" id="nav-two-tab" data-bs-toggle="tab" data-bs-target="#nav-two" type="button" role="tab" aria-controls="nav-two" aria-selected="false">Recent News</button>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                        <div class="row gy-4">
                            {% cache 'top_news' %}
                            {% for item in breaking|slice(0, 3) %}
                                <div class="col-xl-12 col-md-6 border-blog" itemscope itemtype="http://schema.org/NewsArticle">
                                    <meta itemprop="headline" content="{{ item.title }}">
                                    <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                                    <meta itemprop="author" content="{{ item.user.pseudo }}">
                                    {{ include('_partials/_mignature/_blog_item_small.html.twig', { 'item': item, 'truncate': 30, 'maxHeight': 100 }) }}
                                </div>
                            {% endfor %}
                            {% endcache %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
                        <div class="row gy-4">
                            {% cache 'recent_news' %}
                            {% for item in slider|slice(0, 3) %}
                                <div class="col-xl-12 col-md-6 border-blog" itemscope itemtype="http://schema.org/NewsArticle">
                                    <meta itemprop="headline" content="{{ item.title }}">
                                    <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                                    <meta itemprop="author" content="{{ item.user.pseudo }}">
                                    {{ include('_partials/_mignature/_blog_item_small.html.twig', { 'item': item, 'truncate': 30, 'maxHeight': 100 }) }}
                                </div>
                            {% endfor %}
                            {% endcache %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="sec-title has-line">Cinema</h2>
            </div>
            <div class="col-auto">
                <div class="sec-btn">
                    <div class="icon-box">
                        <button data-slick-prev="#cinema-slide" class="slick-arrow default">
                            <i class="far fa-arrow-left"></i>
                        </button>
                        <button data-slick-next="#cinema-slide" class="slick-arrow default">
                            <i class="far fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row th-carousel" id="cinema-slide" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2">
            {% cache 'cinema' %}
            {% for item in cinema %}
                <div class="col-sm-6 col-xl-4" itemscope itemtype="http://schema.org/NewsArticle">
                    <meta itemprop="headline" content="{{ item.title }}">
                    <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                    <meta itemprop="author" content="{{ item.user.pseudo }}">
                    {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 35, 'maxHeight': 187 }) }}
                </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
</section>

<section class="space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="sec-title has-line">Music</h2>
            </div>
            <div class="col-auto">
                <div class="sec-btn">
                    <div class="filter-menu filter-menu-active1">
                        <button data-filter=".game" class="tab-btn active" type="button">Actualité</button>
                        <button data-filter=".robotic" class="tab-btn" type="button">Critique</button>
                        <button data-filter=".electric" class="tab-btn" type="button">Événement</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-active-cat1">
            <div class="row filter-item game active-filter">
                {% set items = musique %}
                <div class="col-xl-6 mb-35 mb-xl-0">
                    <div class="blog-style1 style-big" itemscope itemtype="http://schema.org/NewsArticle">
                        {% set item = items[0] %}
                        <meta itemprop="headline" content="{{ item.title }}">
                        <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                        <meta itemprop="author" content="{{ item.user.pseudo }}">
                        <div class="blog-img">
                            <img src="{{ item.media|first.guid|default('default.jpg') }}" alt="{{ item.media|first.title|default('Default Title') }}" height="490" width="600" style="height:490px;width:600px">
                            <a data-theme-color="#007BFF" href="#" class="category">{{ item.categories[0].name|default('Default Category') }}</a>
                        </div>
                        <h3 class="box-title-30">
                            <a class="hover-line" href="{{ path('app_articles', {
                                'slug': item.slug,
                                'souscategorie': item.categories[0].slug,
                                'categorie': item.categories[0].parent ? item.categories[0].parent.slug : 'no-category'
                            }) }}">{{ item.title|u.truncate(30)|default('Default Title') }}</a>
                        </h3>
                        <div class="blog-meta">
                            <a href="author.html">
                                <i class="far fa-user"></i>{{ item.user.pseudo|default('Default Author') }}</a>
                            <a href="{{ path('app_articles', {
                                'slug': item.slug,
                                'souscategorie': item.categories[0].slug,
                                'categorie': item.categories[0].parent ? item.categories[0].parent.slug : 'no-category'
                            }) }}">
                                <i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row gy-4">
                        {% cache 'music_items_game' %}
                        {% for item in items|slice(1, 3) %}
                        <div class="col-xl-6 col-sm-6 border-blog two-column" itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="headline" content="{{ item.title }}">
                            <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                            <meta itemprop="author" content="{{ item.user.pseudo }}">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 50, 'maxHeight': 187 }) }}
                        </div>
                        {% endfor %}
                        {% endcache %}
                    </div>
                </div>
            </div>

            <div class="row filter-item robotic">
                {% set items = critiques %}
                <div class="col-xl-6 mb-35 mb-xl-0">
                    <div class="blog-style1 style-big" itemscope itemtype="http://schema.org/NewsArticle">
                        {% set item = items[0] %}
                        <meta itemprop="headline" content="{{ item.title }}">
                        <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                        <meta itemprop="author" content="{{ item.user.pseudo }}">
                        <div class="blog-img">
                            <img src="{{ item.media|first.guid|default('default.jpg') }}" alt="{{ item.media|first.title|default('Default Title') }}" height="490" width="600" style="height:490px;width:600px">
                            <a data-theme-color="#007BFF" href="#" class="category">{{ item.categories[0].name|default('Default Category') }}</a>
                        </div>
                        <h3 class="box-title-30">
                            <a class="hover-line" href="{{ path('app_articles', {
                                'slug': item.slug,
                                'souscategorie': item.categories[0].slug,
                                'categorie': item.categories[0].parent ? item.categories[0].parent.slug : 'no-category'
                            }) }}">{{ item.title|u.truncate(30)|default('Default Title') }}</a>
                        </h3>
                        <div class="blog-meta">
                            <a href="author.html">
                                <i class="far fa-user"></i>{{ item.user.pseudo|default('Default Author') }}</a>
                            <a href="{{ path('app_articles', {
                                'slug': item.slug,
                                'souscategorie': item.categories[0].slug,
                                'categorie': item.categories[0].parent ? item.categories[0].parent.slug : 'no-category'
                            }) }}">
                                <i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row gy-4">
                        {% cache 'music_items_robotic' %}
                        {% for item in items|slice(1, 3) %}
                        <div class="col-xl-6 col-sm-6 border-blog two-column" itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="headline" content="{{ item.title }}">
                            <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                            <meta itemprop="author" content="{{ item.user.pseudo }}">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 50, 'maxHeight': 187 }) }}
                        </div>
                        {% endfor %}
                        {% endcache %}
                    </div>
                </div>
            </div>

            <div class="row filter-item electric">
                {% set items = evenements %}
                <div class="col-xl-6 mb-35 mb-xl-0">
                    <div class="blog-style1 style-big" itemscope itemtype="http://schema.org/NewsArticle">
                        {% set item = items[0] %}
                        <meta itemprop="headline" content="{{ item.title }}">
                        <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                        <meta itemprop="author" content="{{ item.user.pseudo }}">
                        <div class="blog-img">
                            <img src="{{ item.media|first.guid|default('default.jpg') }}" alt="{{ item.media|first.title|default('Default Title') }}" height="490" width="600" style="height:490px;width:600px">
                            <a data-theme-color="#007BFF" href="#" class="category">{{ item.categories[0].name|default('Default Category') }}</a>
                        </div>
                        <h3 class="box-title-30">
                            <a class="hover-line" href="{{ path('app_articles', {
                                'slug': item.slug,
                                'souscategorie': item.categories[0].slug,
                                'categorie': item.categories[0].parent ? item.categories[0].parent.slug : 'no-category'
                            }) }}">{{ item.title|u.truncate(30)|default('Default Title') }}</a>
                        </h3>
                        <div class="blog-meta">
                            <a href="author.html">
                                <i class="far fa-user"></i>{{ item.user.pseudo|default('Default Author') }}</a>
                            <a href="{{ path('app_articles', {
                                'slug': item.slug,
                                'souscategorie': item.categories[0].slug,
                                'categorie': item.categories[0].parent ? item.categories[0].parent.slug : 'no-category'
                            }) }}">
                                <i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row gy-4">
                        {% cache 'music_items_electric' %}
                        {% for item in items|slice(1, 3) %}
                        <div class="col-xl-6 col-sm-6 border-blog two-column" itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="headline" content="{{ item.title }}">
                            <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                            <meta itemprop="author" content="{{ item.user.pseudo }}">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 50, 'maxHeight': 187 }) }}
                        </div>
                        {% endfor %}
                        {% endcache %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <a href="https://themeforest.net/user/themeholy/portfolio">
        <img src="assets/img/ads/ads_1.jpg" alt="ads" class="w-100">
    </a>
</div>

<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <h2 class="sec-title has-line">JUSTFOCUS WEEKLY</h2>
                <div class="filter-active">
                    {% cache 'wanderlust' %}
                    {% for item in wanderlust|slice(0, 4) %}
                        <div itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="headline" content="{{ item.title }}">
                            <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                            <meta itemprop="author" content="{{ item.user.pseudo }}">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 120, 'maxHeight': 200 }) }}
                        </div>
                    {% endfor %}
                    {% endcache %}
                    
                    {% cache 'movies' %}
                    {% for item in movies|slice(0, 4) %}
                        <div itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="headline" content="{{ item.title }}">
                            <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                            <meta itemprop="author" content="{{ item.user.pseudo }}">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 120, 'maxHeight': 200 }) }}
                        </div>
                    {% endfor %}
                    {% endcache %}
                    
                    {% cache 'books' %}
                    {% for item in books|slice(0, 4) %}
                        <div itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="headline" content="{{ item.title }}">
                            <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                            <meta itemprop="author" content="{{ item.user.pseudo }}">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 120, 'maxHeight': 200 }) }}
                        </div>
                    {% endfor %}
                    {% endcache %}
                    
                    {% cache 'tvshows' %}
                    {% for item in tvshows|slice(0, 4) %}
                        <div itemscope itemtype="http://schema.org/NewsArticle">
                            <meta itemprop="headline" content="{{ item.title }}">
                            <meta itemprop="datePublished" content="{{ item.date|date('Y-m-d') }}">
                            <meta itemprop="author" content="{{ item.user.pseudo }}">
                            {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': item, 'truncate': 120, 'maxHeight': 200 }) }}
                        </div>
                    {% endfor %}
                    {% endcache %}
                </div>
            </div>
            <div class="col-xl-3 mt-35 mt-xl-0 mb-10 sidebar-wrap">
                <div class="sidebar-area">
                    <div class="widget mb-30">
                        <div class="widget-ads">
                            <a href="https://themeforest.net/user/themeholy/portfolio">
                                <img class="w-100" src="assets/img/ads/siderbar_ads_1.jpg" alt="ads">
                            </a>
                        </div>
                    </div>
                    <div class="widget newsletter-widget2 mb-30" data-bg-src="assets/img/bg/particle_bg_1.png">
                        <h3 class="box-title-24">Subscribe Our Newsletter</h3>
                        <form class="newsletter-form">
                            <input class="form-control" type="email" placeholder="Enter Email" required="">
                            <button type="submit" class="th-btn btn-fw">Subscribe Now</button>
                        </form>
                    </div>
                    <div class="nav tab-menu indicator-active" role="tablist">
                        <button class="tab-btn active" id="nav3-one-tab" data-bs-toggle="tab" data-bs-target="#nav3-one" type="button" role="tab" aria-controls="nav3-one" aria-selected="true">A découvrir</button>
                        <button class="tab-btn" id="nav3-two-tab" data-bs-toggle="tab" data-bs-target="#nav3-two" type="button" role="tab" aria-controls="nav3-two" aria-selected="false">Meilleur articles</button>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav3-one" role="tabpanel" aria-labelledby="nav3-one-tab">
                            <div class="row gy-4">
                                {% cache 'discover_random' %}
                                {% for randomise in randomise %}
                                <div class="col-xl-12 col-md-6 border-blog" itemscope itemtype="http://schema.org/NewsArticle">
                                    <meta itemprop="headline" content="{{ randomise.title }}">
                                    <meta itemprop="datePublished" content="{{ randomise.date|date('Y-m-d') }}">
                                    <meta itemprop="author" content="{{ randomise.user.pseudo }}">
                                    {{ include('_partials/_mignature/_blog_item_small.html.twig', { 'item': randomise, 'truncate': 30, 'maxHeight': 100 }) }}
                                </div>
                                {% endfor %}
                                {% endcache %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav3-two" role="tabpanel" aria-labelledby="nav3-two-tab">
                            <div class="row gy-4">
                                {% cache 'discover_best' %}
                                {% for bestof in bestof %}
                                <div class="col-xl-12 col-md-6 border-blog" itemscope itemtype="http://schema.org/NewsArticle">
                                    <meta itemprop="headline" content="{{ bestof.title }}">
                                    <meta itemprop="datePublished" content="{{ bestof.date|date('Y-m-d') }}">
                                    <meta itemprop="author" content="{{ bestof.user.pseudo }}">
                                    {{ include('_partials/_mignature/_blog_item_small.html.twig', { 'item': bestof, 'truncate': 30, 'maxHeight': 100 }) }}
                                </div>
                                {% endfor %}
                                {% endcache %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="space-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="sec-title has-line">A découvrir</h2>
            </div>
            <div class="col-auto">
                <div class="sec-btn">
                    <div class="icon-box">
                        <button data-slick-prev="#blog-slide3" class="slick-arrow default">
                            <i class="far fa-arrow-left"></i>
                        </button>
                        <button data-slick-next="#blog-slide3" class="slick-arrow default">
                            <i class="far fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row th-carousel" id="blog-slide3" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
            {% cache 'discover_carousel' %}
            {% for discover in discover %}
                <div class="col-sm-6 col-xl-4" itemscope itemtype="http://schema.org/NewsArticle">
                    <meta itemprop="headline" content="{{ discover.title }}">
                    <meta itemprop="datePublished" content="{{ discover.date|date('Y-m-d') }}">
                    <meta itemprop="author" content="{{ discover.user.pseudo }}">
                    {{ include('_partials/_mignature/_blog_item.html.twig', { 'item': discover, 'truncate': 50, 'maxHeight': 187 }) }}
                </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
</div>
{% endapply %}
{% endblock %}
