{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
	<div class="breadcumb-wrapper">
        <div class="container">
            <ul class="breadcumb-menu">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li>Reset your password.</li>
            </ul>
        </div>
    </div>
    <div class="space2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="pe-xxl-4 me-xl-3 text-center text-xl-start mb-40 mb-lg-0">
                        <div class="title-area mb-32">
                            uuuuuuuu                        
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="quote-form-box">
                        <h4 class="form-title">Reset your password</h4>
                            {% for flash_error in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}
                        {{ form_start(requestForm, {'attr': {'class': 'contact-form'}}) }}
                            {{ form_row(requestForm.email) }}
                            <div>
                                <small>
                                    Enter your email address, and we will send you a
                                    link to reset your password.
                                </small>
                            </div>

                            <button class="btn btn-primary">Send password reset email</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
