{% extends 'base.html.twig' %}
{% import '_partials/_macro/_categorie_small_with_url.html.twig' as categories %}

{% block title %}{{ article.metaTitle }}{% endblock %}
{% block description %}{{ article.metaDescription }}{% endblock %}
{% block keywords %}Just Focus{% endblock %}
{% block body %}

    {{ include('_partials/_mignature/_breadcumb.html.twig', {titre: null, title: null, slug: null}) }}

    <section class="th-blog-wrapper blog-details space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-9 col-lg-8">
                    <div class="th-blog blog-single">
                        {{ categories.category_small(article) }}
                        <h2 class="blog-title">{{ article.title }}</h2>
                        <div class="blog-meta">
                            <a class="author" href=""><i class="far fa-user"></i>{{ article.user.pseudo }}</a>
                            <a href="#"><i class="fal fa-calendar-days"></i>{{ article.date|date('Y M d') }}</a>
                            <a href="#"><i class="far fa-comments"></i>Comments (0)</a>
                            <span><i class="far fa-book-open"></i>{{ article.content|reading_time }}</span>
                        </div>
                        <div class="blog-img">
                            <img loading="lazy" src="{{ article.media|first.guid|default('images/default.webp')|imagine_filter('896x500') }}"  alt="Blog Image" width="896" height="500" class="article__images">
                        </div>
                        <div class="blog-content-wrap">
                            <div class="share-links-wrap">
                                <div class="share-links">
                                    <span class="share-links-title">Share Post:</span>
                                    <div class="multi-social">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="_blank" aria-label="Partager sur Facebook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&text=Découvrez cette page !" target="_blank" aria-label="Partager sur Twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&title=Découvrez cette page" target="_blank" aria-label="Partager sur LinkedIn">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                        <a href="https://pinterest.com/pin/create/button/?url={{ app.request.uri }}&media={{ absolute_url(article.media|first.guid|default('images/default.webp')) }}&description=Description" target="_blank" aria-label="Partager sur Pinterest">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                        <a href="https://www.instagram.com/" target="_blank" aria-label="Partager sur Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-info-wrap">
                                    <button class="blog-info print_btn">
                                        Print :
                                        <i class="fas fa-print"></i>
                                    </button>
                                    <a class="blog-info" href="mailto:">
                                        Email :
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                    <button
                                        id="like-button"
                                        class="blog-info ms-sm-auto"
                                        data-post-id="{{ article.id }}"
                                    >
                                        {{ article.likes }}
                                        <i class="fas fa-thumbs-up"></i>
                                    </button>
                                    <span class="blog-info">{{ article.visit }} <i class="fas fa-eye"></i></span>
                                </div>
                                <div class="content">
                                    {{ article.content|raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {# je vais vérifier que j'ai bien des tags #}
                    {% if article.tags is not empty %}
                    <div class="blog-author">
                        <div class="media-body">
                            <h6 class="title">Related Tag :</h6>
                            <div class="tagcloud">

                                {% for tag in article.tags[0:10] %}
                                    <a href="">{{ tag.name }}</a>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!--
                    <div class="th-comments-wrap ">
                        <h2 class="blog-inner-title h3">Comments (03)</h2>
                        <ul class="comment-list">
                            <li class="th-comment-item">
                                <div class="th-post-comment">
                                    <div class="comment-avater">
                                        <img loading="lazy" src="assets/img/blog/comment-author-1.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <span class="commented-on"><i class="fas fa-calendar-alt"></i>14 March, 2023</span>
                                        <h3 class="name">Brooklyn Simmons</h3>
                                        <p class="text">Your sport blog is simply fantastic! The in-depth analysis, engaging writing style, and up-to-date coverage of various sports events make it a must-visit for any sports enthusiast.</p>
                                        <div class="reply_and_edit">
                                            <a href="#" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="th-comment-item">
                                        <div class="th-post-comment">
                                            <div class="comment-avater">
                                                <img loading="lazy" src="assets/img/blog/comment-author-2.jpg" alt="Comment Author">
                                            </div>
                                            <div class="comment-content">
                                                <span class="commented-on"><i class="fas fa-calendar-alt"></i>15 March, 2023</span>
                                                <h3 class="name">Marvin McKinney</h3>
                                                <p class="text">Whether it's breaking news, expert opinions, or inspiring athlete profiles, your blog delivers a winning combination of excitement and information that keeps.</p>
                                                <div class="reply_and_edit">
                                                    <a href="#" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="th-comment-item">
                                <div class="th-post-comment">
                                    <div class="comment-avater">
                                        <img loading="lazy" src="assets/img/blog/comment-author-3.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <span class="commented-on"><i class="fas fa-calendar-alt"></i>16 March, 2023</span>
                                        <h3 class="name">Ronald Richards</h3>
                                        <p class="text">The way you seamlessly blend statistical insights with compelling storytelling creates an immersive and captivating reading experience. Whether it's the latest match updates, behind-the-scenes glimpses.</p>
                                        <div class="reply_and_edit">
                                            <a href="#" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Comment end --> <!--
                    <div class="th-comment-form ">
                        <div class="form-title">
                            <h3 class="blog-inner-title mb-2">Leave a Comment</h3>
                            <p class="form-text">Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Your Name*" class="form-control">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Your Email*" class="form-control">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Website" class="form-control">
                                <i class="far fa-globe"></i>
                            </div>
                            <div class="col-12 form-group">
                                <textarea placeholder="Write a Comment*" class="form-control"></textarea>
                                <i class="far fa-pencil"></i>
                            </div>
                            <div class="col-12 form-group mb-0">
                                <button class="th-btn">Post Comment</button>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="related-post-wrapper pt-30 mb-30">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <a href="https://auxioma.eu">
                                    <img loading="lazy" src="/assets/img/ads/ads_1.jpg" alt="ads" class="w-100">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 sidebar-wrap">
                    <aside class="sidebar-area">
                        <div class="widget widget_search">

                            {{ render(controller('App\\Controller\\Menu\\SearchController::search')) }}

                        </div>
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">Categories</h3>
                            <ul>
                                {% for categorie in categories %}
                                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        <a data-bg-src="/assets/img/bg/category_bg_1_1.jpg" href="{{ path('app_category', {slug: categorie.slug}) }}" itemprop="item">
                                            <span itemprop="name">{{ categorie.name|default('Default Category') }}</span>
                                        </a>
                                        <meta itemprop="position" content="{{ loop.index }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget">
                            <div class="widget-ads">
                                <a href="https://themeforest.net/user/themeholy/portfolio">
                                    <img class="w-100" src="/assets/img/ads/siderbar_ads_1.webp" alt="ads">
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/like.js') }}"></script>
{% endblock %}
