{% import '_partials/_macro/_url_articles.html.twig' as macros %}
{% import '_partials/_macro/_categorie_small_with_url.html.twig' as categories %}


    <div itemscope itemtype="https://schema.org/NewsArticle">
        <div class="blog-style1">
            <div class="blog-img">
                <img loading="lazy" src="{{ item.media|first.guid|default('images/default.webp') | imagine_filter('187x288') }}" alt="{{ item.media|first.title|default('just focus') }}" height="{{ maxHeight }}" width="{{ width }}">
                {{ categories.category_small(item) }}
            </div>
            <h3 class="box-title-22">
                {{ macros.truncate_title(item, 50) }}
            </h3>
            <div class="blog-meta">
                <a href=""><i class="far fa-user"></i><span itemprop="author">{{ item.user.pseudo }}</span></a>
                <a href=""><i class="fal fa-calendar-days"></i><span itemprop="datePublished">{{ item.date|date('Y-m-d') }}</span></a>
            </div>
        </div>
    </div>

