{% import '_partials/_macro/_url_articles.html.twig' as macros %}

{% apply spaceless %}
<div class="blog-style1 style-big" itemscope itemtype="http://schema.org/Article">
    <div class="blog-img">
        <img src="{{ item.media|first.guid }}" alt="{{ item.media|first.title }}" style="height:{{ maxHeight }}px; width:{{ width }}px" height="{{ maxHeight }} width="{{ width }}" itemprop="image">
        <a data-theme-color="#FF9500" href="" class="category" itemprop="about">
            {{ item.categories[0].name }}
        </a>
    </div>
    <h3 class="box-title-30" itemprop="headline">
        {{ macros.truncate_title(item, 30) }}
    </h3>
    
    
    <div class="blog-meta" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <a href=""><i class="far fa-user"></i><span itemprop="name">{{ item.user.pseudo }}</span></a>
        <a href=""><i class="fal fa-calendar-days"></i><time itemprop="datePublished" datetime="{{ item.date|date('Y-m-d') }}">{{ item.date|date('d M Y') }}</time></a>
    </div>
    <meta itemprop="dateModified" content="{{ item.updatedAt|date('Y-m-d') }}">
    <meta itemprop="mainEntityOfPage" content="blog-details.html">
</div>
{% endapply %}
