{% import '_partials/_macro/_url_articles.html.twig' as macros %}
{% import '_partials/_macro/_categorie_small_with_url.html.twig' as categories %}

{% apply spaceless %}
    <div class="blog-style2">
        <div class="blog-img">
            <img src="{{ item.media|first.guid|default('/images/default.webp') | imagine_filter('small') }}" alt="{{ item.media|first.title|default('just focus') }}" style="height:{{ maxHeight }}px; width:{{ width }}px" height="{{ maxHeight }}" width="{{ width }}">
        </div>
        <div class="blog-content">
            {{ categories.category_small(item) }}
            <h3 class="box-title-18">
                {{ macros.truncate_title(item, 30) }}
            </h3>
            <div class="blog-meta">
                <a href=""><i class="fal fa-calendar-days"></i>{{ item.date|date('d M Y') }}</a>
            </div>
        </div>
    </div>
{% endapply %}
