{% import '_partials/_macro/_url_articles.html.twig' as macros %}

{% apply spaceless %}
    <div itemscope itemtype="https://schema.org/NewsArticle">
        <div class="blog-style1">
            <div class="blog-img">
                <img src="{{ item.media|first.guid }}" alt="{{ item.media|first.title }}" style="max-height:{{ maxHeight }}px">
                <a data-theme-color="#FF9500" href="" class="category">
                    {% for category in item.categories %}
                        {{ category.name }}
                    {% endfor %}
                </a>
            </div>
            <h3 class="box-title-22">
                {{ macros.truncate_title(item, 50) }}
            </h3>
            <div class="blog-meta">
                <a href=""><i class="far fa-user"></i><span itemprop="author">{{ item.user.pseudo }}</span></a>
                <a href=""><i class="fal fa-calendar-days"></i><span itemprop="datePublished">{{ item.date|date('Y-m-d') }}</span></a>
            </div>
        </div>
    </div>
{% endapply %}
